* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #262222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.peach-circle {
    height: 300px;
    width: 300px;
    background-color: #E04141;
    border-radius: 50%;
}

.small-yellow-circle {
    background-color: #F79E1B;
    height: 100px;
    width: 100px;
}